.container img{
	max-width: 80%;
	display: block;
	margin: auto;
}

#image-box{
	text-align: center;
}

.container{
	margin-top: 50px;
}

.chosen-option{
	padding: 5px 0 5px 10px;
    font-size: 0.8rem;
}

#image-box a {
	margin-top: 20px;
}

.custom-select{
	width: 100%;
}

a.btn {border-radius: .25rem; border: 1px solid transparent; padding: .5rem 1rem; color: #fff; }
a.btn:hover { border-radius: .25rem; }